<div class="dashboard-container">
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <span class="app-title">RivalLadder</span>
    <span class="spacer"></span>
    
    @if (currentUser$ | async; as user) {
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/dashboard/profile">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    }
  </mat-toolbar>

  <mat-sidenav-container class="dashboard-sidenav-container">
    <mat-sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      class="dashboard-sidenav"
    >
      <mat-nav-list>
        @for (item of menuItems; track item.path) {
          <a
            mat-list-item
            [routerLink]="item.path"
            routerLinkActive="active-link"
            [attr.aria-label]="item.label"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="dashboard-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
